// 全局样式
$bgcolor: #001529;
$menuWidth: 200px;
$codeWidth: 500px;
$settingheight: 60px;
$headerHeight: 60px;

html[theme="dark"] {
  --primary-bgColor: #000;
  --primary-textColor: #fff;
}

:root {
  --primary-bgColor: #fff;
  --primary-textColor: #000;
}
